<!DOCTYPE html>
<html lang="pt" ng-app="RobotApp">
    <head>
        <title>Robot Control</title>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/mapa.css">
		<script src="js/mapa.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="https://code.angularjs.org/snapshot/angular.min.js"></script>
	</head>
    <body ng-controller="RobotAppController" ng-keydown="navegarTeclas($event)">
		<div class="container">
			<div>
				<div class="row">
					<div class="col-md-8">
						<img src="https://raspberrypi:3001/camera"/>
					</div>
					<div class="col-md-4">
						<div class="panel panel-default">
							<div class="panel-body">
								<center>
									<table>
										<tr>
											<td>&nbsp;</td>
											<td>
												<button ng-click="frente()" type="button" id="upBtn" class="btn btn-lg">
													<span class="glyphicon glyphicon-menu-up"></span>
												</button>
											</td>
											<td>&nbsp;</td>
										</tr>
										<tr>
											<td>
												<button ng-click="esquerda()" type="button" id="leftBtn" class="btn btn-lg">
													<span class="glyphicon glyphicon-menu-left"></span>
												</button>
											</td>
											<td>
												<button ng-click="parar()" type="button" id="stopBtn" class="btn btn-info btn-lg">
													<span class="glyphicon glyphicon-stop"></span>
												</button>
											</td>
											<td>
												<button ng-click="direita()" type="button" id="rightBtn" class="btn btn-lg">
													<span class="glyphicon glyphicon-menu-right"></span>
												</button>
											</td>
										</tr>
										<tr>
											<td>&nbsp;</td>
											<td>
												<button ng-click="tras()" type="button" id="downBtn" class="btn btn-lg">
													<span class="glyphicon glyphicon-menu-down"></span>
												</button>
											</td>
											<td>&nbsp;</td>
										</tr>
									</table>
									<div id="map"></div>
									<script async defer
										src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEEVVxHzAW3pjGnQB9uDaH2AGRCRhDN-s&callback=initMap">
									</script>
								</center>
							</div>
						</div>
					</div>
				</div>
			</div>
        </div>
		<script src="js/main.js"></script>
		<script src="js/controllers/RobotAppController.js"></script>
    </body>
</html>
