page-home {
    ion-content {
        background-image: url('https://192.168.1.117:3001/camera');
        background-size: cover;
        background-size: 100%;
        background-repeat: no-repeat;
        margin-left: 0px;
    }

    .bar-buttons,
    .bar-button-md,
    .bar-button-default,
    .bar-button-default-md,
    .toolbar-title {
        color: #fff;
    }

    ::-webkit-scrollbar {
        width: 0px;
        background: transparent; /* make scrollbar transparent */
    }
}
