<ion-header no-border>
	<ion-navbar transparent no-border-bottom>
		<button ion-button menuToggle>
    		<ion-icon name="navigate"></ion-icon>
    	</button>
	
		<ion-title>RobotControl</ion-title>
	
		<ion-buttons end>
    		<button ion-button icon-only (click)="presentFilter()">
        		<ion-icon ios="ios-options-outline" md="md-options"></ion-icon>
      		</button>
    	</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content fullscreen padding id="zone_joystick">
	<div id="debug">
		<ul>
			<li class="position">
				position :
				<ul>
					<li class="x">x : <span class='data'></span></li>
					<li class="y">y : <span class='data'></span></li>
				</ul>
			</li>
			<li class="force">force : <span class='data'></span></li>
			<li class="pressure">pressure : <span class='data'></span></li>
			<li class="distance">distance : <span class='data'></span></li>
			<li class="angle">
				angle :
				<ul>
					<li class="radian">radian : <span class='data'></span></li>
					<li class="degree">degree : <span class='data'></span></li>
				</ul>
			</li>
			<li class="direction">
			direction :
				<ul>
					<li class="x">x : <span class='data'></span></li>
					<li class="y">y : <span class='data'></span></li>
					<li class="angle">angle : <span class='data'></span></li>
				</ul>
			</li>
		</ul>
		<div class="dump"></div>
	</div>
</ion-content>